<header id="header">
    <div class="center">
        <div id="logo">
            <a href="index.html"><img src="assets/images/logo.png" class="app-logo" alt="Logotipo"/></a>
            <span id="brand">
                Ahorcado<strong> 1.0</strong>
            </span>
        </div>

        <!--Menu-->
        <nav id="menu">
            <ul>
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="https://github.com/Franco-Abanto" target="_blank">Git</a>
                </li>
                <li>
                    <a href="#">Acerca de</a>
                </li>
            </ul>
        </nav>

        <!--Limpiar Flotados-->
        <div class="clearfix"></div>
    </div>
</header>
